<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Applying at <%= job.title %></title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid mt-4 px-5">
      <h1 class="mb-3">Applying at <%= job.title %></h1>
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-row mb-3">
            <span><b>Title:</b></span> <span><%= job.title %></span>
          </div>
          <div class="form-row mb-3">
            <span><b>Department:</b></span>
            <span><%= job.Department.departmentName %></span>
          </div>
          <div class="form-row mb-3">
            <span><b>Vacancy:</b></span> <span><%= job.vacancy %></span>
          </div>
          <div class="form-row mb-3">
            <p><b>Requirement:</b></p>
            <span><%= job.requirement %></span>
          </div>
          <div class="form-row mb-3">
            <span><b>Base Salary:</b></span>
            <span><%= job.Salary ? job.Salary.amount : 0 %></span>
          </div>
          <div class="form-row mb-3">
            <span><b>Bonus:</b></span>
            <span><%= job.Salary ? job.Salary.bonus : 0 %></span>
          </div>
          <div class="form-row mb-3">
            <span><b>Last Update:</b></span> <span><%= job.updatedAt %></span>
          </div>
          <div class="form-row mb-3">
            <span><b>Total Applied:</b></span> <span>0</span>
          </div>
        </div>
      </div>
      <button class="btn btn-success mb-3">
        <a
          href="/hiring/<%= job.id %>/apply"
          class="text-decoration-none text-reset"
          >Apply</a
        >
      </button>
      <div class="mb-3">
        <table class="table">
          <thead>
            <th scope="col">Fullname</th>
            <th scope="col">Applicant Code</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Applied</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
