<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Job</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid mt-4 px-5">
      <h1>Form Edit Job</h1>
      <form action="/jobs/<%= job.id %>/edit" method="post">
        <div class="form-row mb-3">
          <label for="title-box">Title</label>
          <input
            id="title-box"
            type="text"
            name="title"
            class="form-control"
            value="<%= job.title %>"
          />
        </div>

        <div class="form-row mb-3">
          <label for="department-box">Department</label>
          <select
            id="department-box"
            type="text"
            name="department"
            class="form-control"
          >
            <% departments.forEach((department)=>{ %> <% if(job.Department.id ==
            department.id){ %>
            <option value="<%= department.id %>" selected>
              <%= department.departmentName %>
            </option>
            <% } else { %>
            <option value="<%= department.id %>">
              <%= department.departmentName %>
            </option>
            <% } %> <% }) %>
          </select>
        </div>

        <div class="form-row mb-3">
          <label for="requirement-box">Requirement</label>
          <textarea
            id="requirement-box"
            name="requirement"
            class="form-control"
          >
<%= job.requirement %></textarea
          >
        </div>

        <div class="form-row mb-3">
          <label for="vacancy-box">Vacancy</label>
          <input
            id="vacancy-box"
            type="number"
            name="vacancy"
            class="form-control"
            value="<%= job.vacancy %>"
          />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </body>
</html>
